{{> profileTabnav}}

<section class="">
  <div class="container my-5 py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <h4 class="mx-3 mb-0">My Recent comments</h4>
          <p class="mx-3 fw-light mb-4 pb-2">Latest Comments sorted by creation
            date</p>

          <!-- #each comment card -->
          {{#each userComments}}
            <div class="card-body p-4">
              <div class="d-flex flex-start">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src="{{author.avatarUrl}}"
                  alt="avatar"
                  width="60"
                  height="60"
                />
                <div>
                  <h6 class="fw-bold mb-1"> {{author.username}} </h6>
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0">
                      {{!TODO createdAt.toLocalTime/Date}}
                      November 03, 2022
                      {{#if isApproved}}
                        {{! <span class="badge bg-success">Approved</span> }}
                        <form
                          action="/articles/{{publication._id}}/comment/{{_id}}/edit"
                          method="POST"
                        >
                          <button class="mx-3 btn btn-primary btn-sm">edit
                            comment</button>
                        </form>
                    
                      
                        <!-- <form
                          action="/my-comments/delete?commentId={{_id}}"
                          method="POST">
                          <button class="mx-3 btn btn-danger btn-sm">remove comment</button>
                        </form> -->
                        {{#ifEqual message "comment removed by user"}}
                        <p>deleted</p>
                        {{else}}
                        <a href="/profile/my-comments/delete?id={{_id}}" type="button" class="btn btn-danger">remove comment</a>
                        {{/ifEqual}}
                      {{else}}
                        <span class="mx-3 badge bg-danger">Banned Comment</span>
                      {{/if}}
                    </p>

                    <a href="#!" class="link-muted"><i
                        class="fas fa-pencil-alt ms-2"
                      ></i></a>
                    <a href="#!" class="link-muted"><i
                        class="fas fa-redo-alt ms-2"
                      ></i></a>
                    <a href="#!" class="link-muted"><i
                        class="fas fa-heart ms-2"
                      ></i></a>

                  </div>
                  <h5 class="fw-bold">{{title}}</h5>
                  <p class="mx-4 mb-0">{{message}}</p>
                </div>
              </div>
            </div>

            <hr class="my-0" />
            {{!> deleteComment}}
          {{/each}}
          <!-- end of comment card -->
          {{> pagination}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>

<!-- Modal -->
<button type="button" class="btn btn-primary" onclick="openModal()">
  remove comment
</button>
<div
  class="modal fade"
  id="delete-comment-modal"
  tabindex="-1"
  aria-labelledby="delete-comment-modlabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-comment-modlabel">Confirm delete</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          onclick="closeModal()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Are you sure you want to delete this comment?</strong>
        <p>This action <strong>cannot</strong> be undone!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="closeModal()"
        >Close</button>
        <a href="/delete?Id={id}" type="button" class="btn btn-danger">remove comment</a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal-backdrop fade show"
  id="backdrop"
  style="display: none;"
></div>

<script>
const openModal = () => {
    document.getElementById("backdrop").style.display = "block"
    document.getElementById("delete-comment-modal").style.display = "block"
    document.getElementById("delete-comment-modal").classList.add("show")
};
const closeModal = () => {
    document.getElementById("backdrop").style.display = "none"
    document.getElementById("delete-comment-modal").style.display = "none"
    document.getElementById("delete-comment-modal").classList.remove("show")
};
// Get the modal
const modal = document.getElementById('delete-comment-modal');
//  close modal when clicked outside the window
window.onclick = (event) => {
  if (event.target == modal) {
    closeModal()
  }
};
</script>
