{{> profileTabnav}}

<div class="container">

  <h1 class="my-3">Profile Edit Page</h1>
<div class="img-container"> <img src="{{avatarUrl}}" alt="Your Avatar!" /></div>
 
  {{!username}}
  {{!email}}
  {{!emailConfirmed}}
  {{!userType}}

  <form action="/profile/edit" method="post" enctype="multipart/form-data">

    <div class="form-floating mb-3">
      <input
        type="text"
        id="input-username"
        name="username"
        placeholder="edit username"
        class="form-control"
        value="{{username}}"
        required
      />
      <label for="input-username">Username</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="email"
        id="input-email"
        name="email"
        placeholder="edit email"
        class="form-control"
        value="{{email}}"
        required
      />
      <label for="input-email">Email</label>
    </div>

    <div class="mb-2">
      <label for="avatarFile" class="form-label mt-3">Upload your profile photo!</label>
      <input class="form-control" type="file" id="avatarUrl" name="avatarUrl" />
    </div>

    {{#ifEqual userType "author"}}
      <p>Your account type is {{userType}}, you allowed to publish articles</p>

      {{#if isProfileComplete}}
        {{!-- <p>Profile complete! You are allowed now to write and publish Articles!</p>
        <a
          class="btn btn-outline-secondary"
          href="/articles/create"
        >Create New Article</a> --}}
      {{else}}
        <p>Author Profile Incomplete! You are not allowed to write and publish
          Articles!</p>
        <a
          class="btn btn-outline-secondary"
          href="/profile/complete"
        >Complete profile and become an author!</a>
      {{/if}}

    {{else}}
      <div class="form-floating">
        <select
          class="form-select"
          id="userType"
          name="userType"
          aria-label="userType"
          required
        >
          <option value="reader">reader</option>
          <option value="author">author</option>

        </select>
        <label for="userType">Account type</label>
      </div>
    {{/ifEqual}}

    <button class="btn btn-primary text-indigo-100">Update Profile</button>
    <a
      class="btn btn-outline-danger"
      href="/profile/delete"
    >Delete Profile</a>

  </form>

</div>