{{> profileTabnav}}


<div class="container">
  <h3 class="mt-2 ">My Read History</h3>
  <ul class="history">
    {{#each readHistory}}
      <li>
        <p>Title: <b><a href="/articles/{{publication._id}}">{{trimString publication.title}}</a></b></p>
        <p>Read <b>{{__v}}</b> times </p>
        <p>Read on {{lastReadDate}} at {{lastReadTime}}</p>
       <div><img
          src="{{publication.author.avatarUrl}}"
          alt="Author avatar picture"
          style="height: 24px;width; 24px;"
        />
         <p> {{publication.author.profile.fullName}} </p></div>
        
      </li>
      {{ist}}
    {{/each}}
  </ul>
</div>
{{> pagination}}