{{> profileTabnav}}

<div class="container mt-2">
  <h3>Your Profile Basic Info</h3>
  <div class="row">
<div> 
  <p>Username: {{username}}</p>
  <p>Email: {{email}}</p>
  </div>
  <div><img src="{{avatarUrl}}" alt="your current profile picture" style="max-width: 180px;"></div>
 

  </div>
  
  

  {{#if emailConfirmed}}
    <p>Your Email is confirmed</p>
  {{else}}
    <p>Your Email is not confirmed</p>
    <a href="#">Send confirmation Email again.</a>
  {{/if}}

<hr>
  <p>User type: {{userType}}</p>

  {{#if isProfileComplete}}
    <!-- here could be a profile partial -->
    <p>Full name: {{profile.fullName}}</p>
    <p>Age: {{profile.age}}</p>

    <!-- profile skills array each -->
    <div>
      <P><b>Your skills:</b></P>
      <ul class="skill list-unstyled">
        {{#each profile.skills}}
          <li><span>{{this}}&nbsp;</span></li>
        {{/each}}
      </ul>
    </div>

    <!-- profile experience array each -->
    <div>
      <P><b>Your experience:</b></P>
      <ul class="skill list-unstyled">
        {{#each profile.experience}}
          {{#if @first}}
            <li><strong>{{this}}</strong></li>
          {{else}}
            <li>{{this}}</li>
          {{/if}}

        {{/each}}
      </ul>
    </div>
    <!--end of experience each 

    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
    <ul class="d-flex list-unstyled mt-auto">
      <li class="me-auto">
        <img
          src="https://github.com/twbs.png"
          alt="Bootstrap"
          width="32"
          height="32"
          class="rounded-circle border border-white"
        />
      </li>
  -->
    <p>Author profile completed at {{createdAt}}</p>
  {{else}}
    <p>Your profile is set to usertype: {{userType}}</p>
    <p>If you want to be an Author an be able, to write and publish Articles
      your profile has to be filled out complete
    </p>
    <a href="/profile/complete">Complete my author profile now! </a>
  {{/if}}
<hr>
  <div>
    <p>Today is the: <strong>{{actualLocalDate}}</strong></p>
    {{#ifEqual createdLocalDate actualLocalDate}}
      <p>Member since:
        <strong>Today!!</strong>
        @
        <strong>{{createdLocalTime}}</strong></p>
    {{else}}
      <p>Member since:
        <strong>{{createdLocalDate}}</strong>
        @
        <strong>{{createdLocalTime}}</strong></p>
    {{/ifEqual}}
  </div>

  {{#if isOwnProfile}}
    <a
      class="mx-1 my-3 btn btn-secondary btn-sm d-inline border-0 border-top"
      href="/profile/edit"
    >Edit profile</a>
  {{/if}}
</div>