{{#each articles}}

  <article class="article-card">
    <div class="thumbnail-box">
      <div>
        {{#each categories}}<span>{{this}}</span>{{/each}}
      </div>
      <a href="/articles/{{_id}}">
        <img src="{{thumbnailUrl}}" alt="Article thumbnail image" />
      </a>
    </div>

    <div class="article-card-content">
      <a href="/articles/{{_id}}">
        <h3>{{title}}</h3>
      </a>

      <p>He we could place the first 2 sentences from the article itself. For
        now lorem ipsum etc...
      </p>

      <div class="article-card-footer">

        <div>
          <img src="{{author.avatarUrl}}" alt="Author avatar" />
          <div>
            <a href="/profile/{{author._id}}">
              <h4>{{author.username}}</h4>
            </a>
            <div class="publish-date"> on {{createdLocalDate}}</div>
          </div>
        </div>
        <!-- handle meta data -->
        <div>
          {{#if authenticatedViewer}}
            {{#ifEqual author.id viewerId}}
              <a
                class="btn btn-outline-secondary btn-sm d-inline border-0 border-top"
                href="/articles/{{_id}}/edit"
              ><i class="fas fa-edit"></i></a>
            {{else}}
              {{#if isFollowed}}
                <!-- if reader is already following then show "unfollow" btn -->
                <form action="/profile/{{author._id}}/unfollow" method="post">
                  <button class="btn mx-3 btn-outline-secondary"><i
                      class="fa-solid fa-user-minus"
                    ></i></button>
                </form>
              {{else}}
                <form
                  class=""
                  action="/profile/{{author._id}}/follow"
                  method="post"
                >
                  <button class="btn mx-3 btn-outline-secondary"><i
                      class="fa-solid fa-user-plus"
                    ></i></button>
                </form>
              {{/if}}

            {{/ifEqual}}
          {{/if}}
        </div>

        <div class="share">
          <button class="share-button">
            <i class="fa fa-share"></i>
          </button>

          <div class="share-option">
            <span>Share:</span>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>

          </div>
        </div>

      </div>
    </div>
  </article>

{{/each}}

<script>
  const shareOption = document.querySelector('.share-option');
  document.querySelector('.share-button').addEventListener('click', function ()
  { console.log("La");this.classList.toggle('active');
  shareOption.classList.toggle('active'); });
</script>
<!--
<div class="row">
  {{#each articles}}
    <div class="card m-2" style="width:420px">
      <a href="/articles/{{_id}}" class="text-decoration-none text-reset">
        <img
          class="card-img-top"
          src="{{thumbnailUrl}}"
          alt="Card image"
          style="width:100%"
        />
      </a>
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">Category:
          {{#each categories}}<span>{{this}}</span>{{/each}}</p>
        <p>He we could place the first 2 sentences from the article itself..</p>
        <a href="/articles/{{_id}}" class="btn btn-primary">Read Article</a>
      </div>
      <div class="card-footer">

        <small class="text-muted">Viewed {{numberOfViews}} times</small>
        <p class="my-0 mx-3 p-0">Written by
          <a
            class="text-reset fw-bold"
            href="/profile/{{author._id}}"
          >{{author.username}}</a>
          <img
            class="border rounded-circle"
            src="{{author.avatarUrl}}"
            alt=""
            style="width: 24px;"
          />
        </p>

        {{#if authenticatedViewer}}
          {{#ifEqual author.id viewerId}}
            <a
              class="btn btn-outline-secondary btn-sm d-inline border-0 border-top"
              href="/articles/{{_id}}/edit"
            >edit Article</a>
          {{else}}
            {{#if isFollowed}}
              if reader is already following then show "unfollow" btn
              <form action="/profile/{{author._id}}/unfollow" method="post">
                <button class="btn mx-3 btn-outline-secondary">unfollow Author</button>
              </form>
            {{else}}
              <form
                class=""
                action="/profile/{{author._id}}/follow"
                method="post"
              >
                <button class="btn mx-3 btn-outline-secondary">follow Author</button>
              </form>
            {{/if}}

          {{/ifEqual}}
        {{/if}}

      </div>
    </div>
  {{/each}}
</div>
-->