<main class="container">
  <h3 class="my-3">Article details</h3>
  <article>
    <h3 class="my-3">{{title}}</h3>
    <p>Article by: <img src="/{{author.avatarUrl}}" alt="author avatar" width="32" height="32" class="rounded-circle mx-2 border border-dark"> <strong>{{author.profile.fullName}}</strong> aka <strong>{{author.username}}</strong></p>
    <p>views:&nbsp;{{numberOfViews}}</p>
    <div id="editorjs-content-TODO"><p>Here goes the editorjs content for the specific publication</p></div>
  </article>
  
  <!-- Todo:  #each category/topic  -->
  <!--<main class="d-flex flex-column pb-3 text-dark">-->
  
  </main>

</main>