<div class="container">
  <h3 class="my-3">Article main page</h3>
  <!-- Todo: Make a list with categorys and fit each Article in the right Topic! -->
  <!-- Todo:  #each category/topic  -->
  <main class="d-flex flex-column pb-3 text-dark">
    {{#each articles}}
      <a href="/articles/{{_id}}" class="text-decoration-none">
        <div class="rounded-3 border border-secondary mb-3 bg-light text-dark">
          <h4 class="px-2 mt-5 mb-4 fw-bold">{{title}}</h4>
          <div id="article-info" class="d-flex flex-column">
            <p class="my-0 mx-3 p-0">Category:
              {{#each categories}}<span>{{this}}</span>{{/each}}</p>
            <p class="my-0 mx-3 p-0">views: {{numberOfViews}}</p>
            <p class="my-0 mx-3 p-0">author:{{author.username}}</p>
            <!-- We should really consider to add a Thumbnail image to the Publications in the model and to render it here -->
          </div>
        </div>
      </a>
      <!--  "/profile/{{author._id}}/follow" "/profile/{{author._id}}/unfollow" -->
    {{/each}}
  </main>
</div>